<!DOCTYPE html>
<html>
<head>
	<title>Bem vindo ao sistema de automóveis</title>
	<meta charset="UTF-8">
	<script src="functions/functions.js"></script>
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/server/teste_banco.php">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/estilos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="functions/routie.min.js"></script>
	<script type="text/javascript" src="functions/jquery.mask.js"></script>
	<script type="text/javascript" src="functions/functions.js"></script> 

</head>
<style type="text/css">
	

	.btn-buscar {

		background-color: #FFFFFF; 
		border: 0.5px solid #A9A9A9;
		padding: 4.5px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: Arial;

	}
	.campo {
		
	}

</style>
<body>


</body>

<div class="container-fluid">

	<div align="center">
		

		<div>
			<h1> Sistema de Automóveis </h1>	
		</div>
		<br><br>
		<div align="center">
			<div class="linha" align="center">
				<div class="wh4">
					<label for="loginusr">Usuário</label>
					<input type="text" name="loginusr" placeholder="Digite o Login..." class="campo" id="loginusr">
				</div>
				<br>
				<div class="wh4">
					<label for="passwordusr">Senha :  </label> 
					<input type="password" name="passwordusr" placeholder="Digite a Senha..." class="campo" id="passwordusr">
				</div>
			</div>
		</div>
		<br><br><br><br>	<br><br>		
		<div class="botao" >
			<input id="buttonlogin" class="btn-salvar" value="Login" type="button">
		</div>
		<div class="botao" >
			<input id="buttonlogin" class="btn-buscar" value="Cadastrar" type="button">
		</div>
		
	</div> 
</div>
</html>