<!DOCTYPE html>
<html>
<head>
	<title>Relatório</title>
	<meta charset="UTF-8">
	<script src="functions/functions.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="functions/routie.min.js"></script>
	<script type="text/javascript" src="functions/jquery.mask.js"></script>
</head>

<style type="text/css">

	table, th, td {
	  text-align: center;

	}

	.botao {
		text-align: center;
		padding: 150px;
	}
</style>

<body>
	<div id="relatoriodados">
		<table class="table" style="width:100%">	
			<thead class="thead-light">
				<tr>
					<th>Descrição</th>
					<th>Placa</th>
					<th>RENAVAM</th>
				    <th>Ano Modelo</th>
				    <th>Ano Fabricação</th>
				    <th>Cor</th>
				    <th>Km</th>
				    <th>Marca</th>
				    <th>Preço</th>
				    <th>Preço FIPE</th>
				</tr>
			</thead>
		<tbody>
		</tbody>
		</table>
	</div>
<form>
		<div id="botaogerar" align="center">
			<br><br><br><br>
			<label align="right" for="excluir"> Gerar Relatorio</label>
			<button id="gerarrelatorio" type="button" class="btn btn-dark" align="right" ><span class="glyphicon glyphicon-hdd"></span></button>	
		</div>
		<div class="botao" >
			<a name="menuprincipal.html" id="menuprincipal.html"></a>
			<a href="menuprincipal.html"> <button type="button" class="btn btn-success">VOLTAR AO MENU PRINCIPAL</button> </a>
		</div>
	</form>
</body>
</html>