	table, th, td {
	  text-align: center;
	}
	.coluna {
		float: left;
		padding-right: 20px;
	}
	.coluna input {
		width: 100%;
	}
	.colunac {
		float: left;
	}
	.linha {
		float: left;
		width: 100%;
	}
	.botao {
		text-align: center;
		display: inline-block;
	}
	.btn-salvar{

		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 5px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: Arial;
	}
	.btn-cancelar{

		background-color: #FFFFFF; 
		border: 0.5px solid #A9A9A9;
		padding: 4.5px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: Arial;
	}
	.btn-buscar{

		background-color: #FFFFFF; 
		border: 0.5px solid #A9A9A9;
		padding: 3px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: Arial;

	}
	.form {
		background-color: #FFFFFF;  
		width: 100%;
		padding: 3px;
		font-family: inherit;
	}
	.wh6 {
		width: 50%;
	}	
	.wh5 {
		width: 47%;
	}
	.wh4{
		width: 16.66%;
	}
	.wh3 {
		width: 25%;
	}
	.wh2 {
		width: 20%;
	}
	.wh1 {
		width: 12%;
	}
	.wh0 {
		width: 15%;
	}
	.checkbox {
		padding: 3px;
	}
	select {
		display: block;
	}
	.table .thead-dark th {
		color: #fff;
		background-color: #620000;
		border-color: #FF8888;
	}
	.campo_erro{
		border: 1px solid red;
	}
	tr:hover {
        background-color: #f2f2f2;
    }
    button:hover {
	  opacity: 0.8;
	}
	.anolabel {
		color: #000;
		background-color: #f3f3f3;
	}