<!DOCTYPE html>
<html>
<head>
	<title>Bem vindo ao sistema de automóveis</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/cadastro_query.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/veiculo_query.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/connection.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/basic/basic.php">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/view/styles/estilos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/lib/routie.min.js"></script>
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/lib/jquery.mask.js"></script>
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/valida.js"></script> 
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/cadastro.js"></script> 
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/veiculo.js"></script> 
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/events.js"></script> 
</head>

<style type="text/css">
	.btn-buscar {

		background-color: #FFFFFF; 
		border: 0.5px solid #A9A9A9;
		padding: 4.5px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: Arial;
		
	}
</style>
<body>
</body>
<div class="container-fluid">
<div id='logintela'>
	<br><br><br><br><br><br>
	<div align="center">
		<div>
			<h1> Sistema de Automóveis </h1>	
		</div>
		<br><br>
		<div align="center">
			<div class="linha" align="center">
				<div class="wh4">
					<label for="loginusr">Login  :</label>
					<input type="text" name="loginusr" placeholder="Digite o Login..." class="campo" id="loginusr">
				</div>
				<br>
				<div class="wh4">
					<label for="passwordusr">Senha:  </label> 
					<input type="password" name="passwordusr" placeholder="Digite a Senha..." class="campo" id="passwordusr">
				</div>
			</div>
		</div>
		<br><br><br><br><br><br>		
		<div class="botao" >
			<input id="buttonlogin" class="btn-salvar" value="Login" type="button">
		</div>
		<div class="botao" >
			<input id="buttoncadastrar" class="btn-buscar" value="Cadastrar" type="button">
		</div>
	</div> 
</div>
<br><br><br><br><br><br>
<div id="usrcadastro" align="center" style="display: none;">
	<h1> Cadastro </h1>
	<br><br>
	<div class="linha" align="center">
		<div class="wh4">
			<label for="newloginusr">Login  :</label>
			<input type="text" name="newloginusr" placeholder="Digite o Login..." class="campo" id="newloginusr">
		</div>
		<br>
			<div class="wh4">
				<label for="newpasswordusr">Senha:  </label> 
				<input type="password" name="newpasswordusr" placeholder="Digite a Senha..." class="campo" id="newpasswordusr">
			</div>
		<br>
		<div class="linha" align="center">
			<div class="wh4">
				<label for="newemailusr">E-mail:</label>
				<input type="text" name="newemailusr" placeholder="Digite o Email..." class="campo" id="newemailusr">
			</div>
			<br>
		</div>
		<br> 
		<div class="linha" align="center">
			<div class="wh4">
				<label for="newnomeusr">Nome :</label>
				<input type="text" name="newnomeusr" placeholder="Digite o Nome..." class="campo" id="newnomeusr">
			</div>
			<br>
		</div>
		<br><br><br>			
		<div class="botao" >
			<input id="newbuttoncadastrar" class="btn-salvar" value="Cadastrar" type="button">
		</div>
		<div class="botao" >
			<input id="newbuttoncancelar" class="btn-buscar" value="Cancelar" type="button">
		</div>
	</div>
</div>
</html>