<!DOCTYPE html>
<html>
<head>
	<title>Relatório</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/controller/controller.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/cadastro_query.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/veiculo_query.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/connection.php">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/model/basic/basic.php">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost/projeto-automoveis/view/styles/estilos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/lib/routie.min.js"></script>
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/lib/jquery.mask.js"></script>
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/valida.js"></script> 
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/cadastro.js"></script> 
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/veiculo.js"></script> 
	<script type="text/javascript" src="http://localhost/projeto-automoveis/view/events.js"></script> 
</head>
<style type="text/css">

	table, th, td {
	  text-align: center;

	}
	.botao {
		text-align: center;
		padding: 150px;
	}
	.impressaoadicionais {
		display: none;
	}
</style>
<style media="print">
	.btn-salvar {
		display: none;
	}
	.impressaoadicionais{
		display: inline-block;
	}
	.usuariologado{
		display: none;
	}
</style>
<body>
<div class="container-fluid">
<div align="right" id="usuariologado" class="usuariologado">
    <p>Seja bem vindo <b><span id="nomeusuario" type="text"></span></b></p>
    </div>
	<div align="center">
		<div id="impressaoadic" class="impressaoadicionais" >
			<div id="cabecalhoimpressao" align="center" > 
			    <h3 id="filtradobuscar" style="display: none;"> Relatório Buscar </h3>
			    <h3 id="filtradogeral" style="display: none;"> Relatório Geral </h3>
			    <h3 id="filtradopormarca" style="display: none;"> Relatório Agrupado por Marca </h3>
			    <h3 id="filtradoporano" style="display: none;"> Relatório Agrupado por Ano </h3>
				<h5 id="filtradoano" style="display: none;">Filtrado por Ano</h5>
				<h5 id="filtradomarca" style="display: none;">Filtrado por Marca</h5>
				<h5 id="filtradoar" style="display: none;">Filtrado por Ar Condicionado</h5>
				<h5 id="filtradoairbag" style="display: none;">Filtrado por Airbag</h5>
				<h5 id="filtradocd" style="display: none;">Filtrado por CD Player</h5>
				<h5 id="filtradodirecao" style="display: none;">Filtrado por Direcao</h5>
				<h5 id="filtradovidro" style="display: none;">Filtrado por Vidro Elétrico</h5>
				<h5 id="filtradotrava" style="display: none;">Filtrado por Trava Elétrica</h5>
				<h5 id="filtradocambio" style="display: none;">Filtrado por Câmbio Automático</h5>
				<h5 id="filtradorodas" style="display: none;">Filtrado por Rodas de Liga</h5>
				<h5 id="filtradoalarme" style="display: none;">Filtrado por Alarme</h5>
			</div>
		</div>
	</div>
	<div id="relatoriodados">
		<table class="table" style="width:100%">	
			<thead class="thead-light">
				<tr>
					<th>Descrição</th>
					<th>Placa</th>
					<th>RENAVAM</th>
				    <th>Ano Modelo</th>
				    <th>Ano Fabricação</th>
				    <th>Cor</th>
				    <th>Km</th>
				    <th>Marca</th>
				    <th>Preço</th>
				    <th>Preço FIPE</th>
				</tr>
			</thead>
		<tbody>
		</tbody>
		</table>
	</div>
		<div id="menubuscarelatorio">
			<h1><p align="center"><strong> Filtros de Pesquisa </strong> </p></h1>	
			<HR ALIGN=center WIDTH=100% SIZE=20 COLOR=black NOSHADE>
			<div align="center">
				<div class="linha">
					<div class="coluna wh6" align="left">
				          <input id="buscarapidaano" class="search_input" type="text" name="" placeholder="Digite o ano do veículo...">
				    </div>
				    <div class="coluna wh6" align="left">
				          <input id="buscarapidamarcarelatorio" class="search_input" type="text" name="" placeholder="Digite a marca do veículo...">
				    </div>
				<form id="form_adicionais_relatorio">
				    <br><br><br><br>
				    <div class="linha">
						<div class="colunac wh3">
							<input type="checkbox" name="preco" value="1" id="arcondicionado">
							<label for="arcondicionado">Ar Condicionado</label>
						</div>
						<div class="colunac wh3">
							<input type="checkbox" name="airbag" value="2" id="airbag">
							<label for="airbag">Airbag</label>
						</div>
						<div class="colunac wh3">
							<input type="checkbox" name="cdplayer" value="3" id="cdplayer">
							<label for="cdplayer">CD player</label>
						</div>
						<div class="colunac wh3">
							<input type="checkbox" name="direcaohidraulica" value="4" id="direcaohidraulica">
							<label for="direcaohidraulica">Direção Hidráulica</label>
						</div>
					</div>
					<br><br><br><br>
					<div class="linha">
						<div class="colunac wh3">
							<input type="checkbox" name="vidro" value="5" id="vidro">
							<label for="vidro">Vidro Elétrico</label>
						</div>
						<div class="colunac wh3">
							<input type="checkbox" name="trava" value="6" id="trava">
							<label for="trava">Trava Elétrica</label>
						</div>
						<div class="colunac wh3">
							<input type="checkbox" name="cambio" value="7" id="cambio">
							<label for="cambio">Câmbio Automático</label>
						</div>
						<div class="colunac wh3">
							<input type="checkbox" name="rodas" value="8" id="rodas">
							<label for="rodas">Rodas de Liga</label>
						</div>
					</div>
					<br><br><br><br>
					<div class="linha">
						<div class="colunac wh3">	
							<input type="checkbox" name="alarme" value="9" id="alarme">
							<label for="alarme">Alarme</label>
						</div>
					</div>
				</form>
					<br><br>
				    <div >
				    	<br><br>
				        <button id="filtrobutton"  class="btn-buscar" align="left"><i>Buscar</i></button>
				        <br><br><br><br>
				    </div>
				</div>
					<br><br><br><br>
			</div>
		</div>		
		<div id="botaogerar" align="center">
			<br><br><br><br><br><br><br><br>
			<label align="right" for="excluir"> Gerar Relatorio Geral</label>
			<button id="gerarrelatorio" type="button" class="btn btn-dark" align="right" ><span class="glyphicon glyphicon-hdd"></span></button>	
			<br><br>
			<label align="right" for="excluir"> Gerar Relatorio Agrupado por Marca</label>
			<button id="gerarrelatoriopormarca" type="button" class="btn btn-dark" align="right" ><span class="glyphicon glyphicon-hdd"></span></button>	
			<br><br>
			<label align="right" for="excluir"> Gerar Relatorio Agrupado por Ano</label>
			<button id="gerarrelatorioporano" type="button" class="btn btn-dark" align="right" ><span class="glyphicon glyphicon-hdd"></span></button>	
			<br><br>
		</div>	
	</div>
		<div align="center" >
			<br><br><br><br>
			<a href="menuprincipal.html" class="btn-salvar"> <button type="button" class="btn-salvar">VOLTAR AO MENU PRINCIPAL</button> </a>
		</div>
</div>
</body>
</html>